

body{
 background-color: var(--color-primary);
 color: var(--color-light);

 --sb-track-color: var(--color-secondary);
  --sb-thumb-color: var(--color-gray);
  --sb-size: 8px;
}

.scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 13px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 13px;
}

@supports not selector(::-webkit-scrollbar) {
  .scrollbar {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.layout{
    display: grid;
    grid:
    "sidebar header header" auto 
    "sidebar main-content main-content" 1fr 
    "sidebar main-content main-content" 1fr 
    / auto 1fr
}

.sidebar{
    grid-area: sidebar
}

.header{
    grid-area: header
}

.content{
    grid-area: main-content
}

.imgContainerButtons{
    background: rgba(0, 0, 0, 0);
}

.imgContainerButtons:hover{
    background: rgba(0, 0, 0, 0.5);
}


/* .cyberpunk-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #30cfd0;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #30cfd0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}



 */
.input[type="checkbox"] {
  display: none;
}


/* Style for the custom checkbox */
.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

/* Style for the custom checkmark */
.custom-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
}

/* Show the checkmark when checkbox is checked */
.input[type="checkbox"]:checked + .custom-checkbox::after {
  opacity: 1;
}
